body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: lightseagreen;
}

header {
  margin: 0 auto;
  width: 100%;
  background-color: #1a1a1a;
  position: relative;
  z-index: 1000;
  clear: both;
}

.nav-header {
  display: inline-flex;
  font-size: 1em;
  color: whitesmoke;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  z-index: 1000;
}

.nav-header-left {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 10px 0;
}

.nav-header-left-logo {
  margin: 0 30px;
}

.nav-header-text {
  position: relative;
  margin: 0 10px;
  cursor: pointer;
}

.nav-header-text::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 1px;
  font-weight: 400;
  transition: width 0.5s;
}

.nav-header-text:hover::before {
  width: 100%;
  background-color: white;
}

.nav-header-text::before {
  transition: width 0.5s, background-color 0.5s, transform 0.5s;
}

.nav-header-text:hover::before {
  width: 100%;
  background-color: white;
  transform: translateY(0);
}

.nav-header-text:hover::before {
  transform: translateY(0);
}

.nav-header li {
  padding: 3px;
}

.nav-header-right {
  list-style: none;
  display: flex;
  margin-left: auto;
  padding-right: 40px;
  align-items: center;
  justify-content: center;
}

.nav-header-right .img {
  padding-left: 20px;
}

.submenu-modelos {
  position: absolute;
  z-index: 10;
  width: 100%;
  background-color: #1a1a1a;
  opacity: 0;
  transform: translateY(-500px);
  color: #9e9e9e;
  margin-top: 0px;
  margin: 0;
  padding-bottom: 50px;
  max-height: 0px;
  overflow: hidden;
  transition: transform 0.5s; /* Añadido para la transición inversa */
}

.submenu-modelos.show {
  max-height: 500px;
  opacity: 1;
  transform: translateY(0);
  transition: transform 0.5s;
}


.submenu-modelos ul {
  font-size: 0.9em;
  margin-top: 20px;
  transform: translateX(90px);
  list-style: none;
}

.submenu-modelos ul li {
  padding: 15px 0;
  transition: color 0.3s;
  opacity: 0;
}

.submenu-modelos.show ul li {
  opacity: 1;
  transition-delay: 0.2s; /* Ajusta el retardo según tus necesidades */
}

.submenu-modelos ul li:hover {
  color: white;
  cursor: pointer;
}




.hexagons {
  width: 60px;
  height: 60px;
  margin: 40px 0;
  cursor: pointer;
}

.hexagon-empty,
.hexagon-full {
  position: absolute;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.hexagon-full {
  opacity: 0;
}

.hexagons:hover .hexagon-empty {
  opacity: 0;
}

.hexagons:hover .hexagon-full {
  opacity: 1;
}