* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #3b3b3b;
}

header{ 
    margin: 0 auto;
    width: 100%;
    background-color: #1a1a1a;
    position: fixed;
    z-index: 1000;
    clear: both; /* Asegura que no haya elementos flotantes a su alrededor */
}

.nav-header {
    display: inline-flex;
    font-size: 1em;
    color: whitesmoke;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.nav-header-left {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.nav-header-left-logo {
    margin-right: 30px;
}

.nav-header-text {
    margin: 0 10px;
    position: relative; /* Añadido para el posicionamiento del ::before */
}
.nav-header-text::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px; /* Ajusta este valor para cambiar la separación */
    width: 0%; /* Ajuste para el tamaño del subrayado en el estado normal */
    height: 1px;
    font-weight: 400;
    background-color: transparent;
    transition: width 0.5s;
}

.nav-header-text:hover::before {
    width: 100%; /* Ajuste para el tamaño completo del subrayado en el estado de :hover */
    font-weight: 400;
    background-color: white;
}

.nav-header-text {
    position: relative;
    transition: background-color 0.5s;
}

.nav-header li {
    padding: 3px;
}


.nav-header-right {
    list-style: none;
    display: flex;
    margin-left: auto;
    padding-right: 40px;
    align-items: center;
    justify-content: center;
}

.nav-header-right .img {
    padding-left: 20px;
}

.nav-header-right .img:hover {
    filter: brightness(100);
}






main{
    background: #9e9e9e;
    height: 100vh;
}

.portada-main {
    position: relative;
}

.portada-main video {
    width: 100%; /* Ajusta según sea necesario */
    height: auto; /* Ajusta según sea necesario */
    display: block;
}

.text-video {
    position: absolute;
    top: 50%; /* Ajusta según sea necesario */
    left: 170px; /* Ajusta según sea necesario */
    transform: translateY(-50%);
    color: white; /* Ajusta según sea necesario */
}

.text-video h1{
    font-size: 5rem;
    width: 60%;
}

.text-video p{
    font-size: 1.8em;
    font-weight: 600;
}

.text-video h1,
.text-video p {
    margin: 0;
}















footer{
    background-color: #1a1a1a;
    color: whitesmoke;
    padding-bottom: 20px;
}

.footer-rrss{
    height: 10vh;
    padding: 40px 170px 0;
}

footer section{
    width: 800px;
    float: left;
}

footer aside{
    float: right;
}

footer section ul{
    font-size: 1rem;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

footer section ul li{
    padding: 0 10px 5px;
}

footer aside ul{
    display: flex;
    list-style: none;
}

footer aside ul li {
    padding: 0 10px;
}

.footer-consumos{
    font-size: 0.9rem;
    font-weight: 100;
    padding: 0 170px 20px;
    text-align: justify;
}

.footer-copyright p{
    font-size: 1rem;
    margin: 10px 0;
    padding: 0 170px;
    text-align: justify;
}